/* Offset body for fixed navbar */
body {
  padding-top: 56px;
}

/* Sticky footer */
.footer {
  border-top: 1px solid #dee2e6;
}

/* Item row hover when a rabbit is selected */
.list-group-item[role='button']:hover,
.list-group-item.action:hover {
  outline: none;
  border-color: #edd29e;
  box-shadow: 0 0 10px #edd29e;
}

/* Tab name editable cursor */
h4[title='Click to edit'] {
  border-bottom: 1px dashed #ccc;
}
h4[title='Click to edit']:hover {
  border-bottom-color: #333;
}
